/* src/Card.css */
.cards-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea si no caben */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  gap: 20px; /* Espacio entre las tarjetas */
  
}

.card {
  flex: 0 1 calc(33.333% - 32px); /* Ajusta el tamaño de las tarjetas */
  margin: 16px;
  box-sizing: border-box;
  border-radius: 8px; /* Añade bordes redondeados a la tarjeta */
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente negro para mejorar la legibilidad */
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.card-image {
  display: block; /* Hace que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 4px; /* Bordes redondeados de la imagen */ 
}

.card h2, .card h3, .card p {
  margin: 8px 0;
  
  
}

.whatsapp-button {
  display: inline-block; /* Para que el padding funcione */
  background-color: #25D366; /* Color de fondo de WhatsApp */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Elimina el subrayado */
  transition: background-color 0.3s ease; /* Transición suave */
  margin-top: 10px; /* Espacio encima del botón */
}

.whatsapp-button:hover {
  background-color: #128C7E; /* Color de fondo al pasar el mouse */
}